<section class="bg-purple-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen">
    <span class="flex items-center mb-2 text-3xl font-bold text-purple-800 dark:text-white">
      <img class="w-20 h-20" src="logo.png" alt="logo">
      Examy
    </span>
    <div class="w-full bg-white rounded-lg shadow-md md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-3 md:space-y-5 sm:p-8">
        <!-- <h1 class="text-xl font-semibold text-center leading-tight tracking-tight text-gray-800 m-0 dark:text-white">
          Sign in to your account
        </h1> -->
        <form [formGroup]="loginForm" class="space-y-4 md:space-y-6" (ngSubmit)="login()">
          <div>
            <label for="email" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your
              email</label>
            <div class="flex">
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-purple-100 border border-gray-300 border-e-0 rounded-s-xl dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                <svg class="w-[28px] h-[28px] text-gray-800 dark:text-white" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z" />
                  <path
                    d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z" />
                </svg>
              </span>
              <input type="email" name="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-e-xl focus:ring-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="name@company.com" required formControlName="email">
            </div>
            @if (getEmail.touched && getEmail.invalid) {
            @if (getEmail.hasError('required')) {
            <div class="text-red-500">Email is required</div>
            }
            @if (getEmail.hasError('email')) {
            <div class="text-red-500">Please enter a valid email</div>
            }
            }
          </div>
          <div>
            <label for="password" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Password</label>
            <div class="flex">
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-purple-100 border border-gray-300 border-e-0 rounded-s-xl dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                <svg class="w-[28px] h-[28px] text-gray-800 dark:text-white" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                    clip-rule="evenodd" />
                </svg>
              </span>
              <input type="password" name="password" id="password" placeholder="Enter Password"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-e-xl focus:ring-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required formControlName="password">
            </div>
            @if (getPassword.touched && getPassword.invalid) {
            @if (getPassword.hasError('required')) {
            <div class="text-red-500">Password is required</div>
            }
            @if (getPassword.hasError('minlength')) {
            <div class="text-red-500">Password must be at least 6 characters</div>
            }
            }
          </div>
          <div class="flex items-center">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" formControlName="rememberMe"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-purple-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:ring-offset-gray-800">
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-purple-900 dark:text-gray-300">Remember me</label>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="loginForm.invalid"
            class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-2 focus:ring-purple-500 focus:outline-none shadow-md hover:shadow-lg font-semibold rounded-lg text-base px-6 py-3 text-center transition-all duration-300 disabled:opacity-200 disabled:cursor-not-allowed dark:bg-blue-700 dark:hover:bg-blue-600 dark:focus:ring-blue-500">
            Sign in
          </button>
          <p class="text-center text-gray-900 dark:text-gray-400">
            Don't have an account yet? <a [routerLink]="['/register']"
              class="font-medium text-purple-600 hover:underline dark:text-blue-500">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>