<div
    class="bg-white dark:bg-gray-800 p-4 rounded-lg text-center shadow-sm transition-all duration-200 h-48 flex flex-col">
    @if (subject) {
    <h3 class="font-semibold text-2xl text-purple-600 dark:text-gray-200 mb-3">{{ subject.subjectName }}</h3>
    <div class="flex-1 grid grid-cols-2 gap-4">
        <!-- Exam Names Column -->
        <div class="flex flex-col justify-center space-y-4">
            @if (subject.grades.quiz != null) {
            <p class="text-gray-700 dark:text-gray-300 font-medium">Quiz:</p>
            }
            @if (subject.grades.midterm != null) {
            <p class="text-gray-700 dark:text-gray-300 font-medium">Midterm:</p>
            }
            @if (subject.grades.final != null) {
            <p class="text-gray-700 dark:text-gray-300 font-medium">Final:</p>
            }
        </div>
        <!-- Grades Column -->
        <div class="flex flex-col justify-center space-y-4">
            @if (subject.grades.quiz != null) {
            <p [ngClass]="getGradeStyle(subject.grades.quiz, 10)">{{ subject.grades.quiz }} / 10</p>
            }
            @if (subject.grades.midterm != null) {
            <p [ngClass]="getGradeStyle(subject.grades.midterm, 20)">{{ subject.grades.midterm }} / 20</p>
            }
            @if (subject.grades.final != null) {
            <p [ngClass]="getGradeStyle(subject.grades.final, 50)">{{ subject.grades.final }} / 50</p>
            }
        </div>
    </div>
    } @else {
    <p class="text-gray-500 dark:text-gray-400 flex-1 flex items-center justify-center">No subject data available</p>
    }
</div>