<div class="p-4 sm:ml-64 h-screen">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 h-full text-center">
        <div class="grid grid-cols-3 gap-4 mb-10 mt-2">
            <div class="flex flex-col items-center justify-evenly h-30 rounded-full bg-gray-50 dark:bg-gray-800">
                <h2 class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">Taken Exams</h2>
                <p class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">
                    {{ numberOfExams }}
                </p>
            </div>
            <div class="flex flex-col items-center justify-evenly h-30 rounded-full bg-gray-50 dark:bg-gray-800">
                <h2 class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">Passed Exams</h2>
                <p class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">
                    {{ numberOfPassedExams }}
                </p>
            </div>
            <div class="flex flex-col items-center justify-evenly h-30 rounded-full bg-gray-50 dark:bg-gray-800">
                <h2 class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">Failed Exams</h2>
                <p class="text-lg md:text-xl lg:text-3xl text-secondary-600 dark:text-gray-500">
                    {{ numberOfFailedExams }}
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center h-60 rounded-sm bg-gray-50 dark:bg-gray-800">
                <div class="px-6">
                    <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-gray-600 text-center dark:text-gray-300 mb-5">
                        Exam Instructions</h2>
                    <ul class="list-disc text-gray-500 dark:text-gray-400 text-xl space-y-1 sm:text-sm md:text-md lg:text-xl">
                        <li>Read all questions carefully.</li>
                        <li>Manage your time efficiently.</li>
                        <li>Do not reload the page.</li>
                        <li>Submit answers before time ends.</li>
                    </ul>
                </div>
            </div>

            <div class="flex items-center justify-center h-60 rounded-sm bg-gray-50 dark:bg-gray-800">
                <div class="px-6">
                    <h2 class="text-3xl font-semibold text-gray-600 text-center dark:text-gray-300 mb-5">Exam
                        Instructions</h2>
                    <ul class="list-disc text-gray-500 dark:text-gray-400 text-xl space-y-1">
                        <li>Read all questions carefully.</li>
                        <li>Manage your time efficiently.</li>
                        <li>Do not reload the page.</li>
                        <li>Submit answers before time ends.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>